# RCS Tuples

## Tuples

*  ordered
* immutable (cannot be changed!)
* Can be used as a collection of fields

In [ ]:
mytuple = 6, 4, 9
print(mytuple)

In [ ]:
mytuple[2]

In [ ]:
mytuple.count(9)

In [ ]:
mytuple.index(9)

In [ ]:
dir(mytuple)

A special problem is the construction of tuples containing 0 or 1 items: the syntax has some extra quirks to accommodate these. Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective. For example:

In [ ]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
double= ('hello', 'super')
len(empty)
0
len(singleton)
1
print(empty,singleton,double)
#('hello',)
# The statement t = 12345, 54321, 'hello!' is an example of tuple packing: the values 12345, 54321 and 'hello!' are packed together in a tuple. The reverse operation is also possible:

In [ ]:
lst=list(double)
lst

In [ ]:
dir(singleton)

## Unpacking tuples

In [ ]:
_, _, c = mytuple
print(c)

In [ ]:
mytuple[2]

In [ ]:
ytup = ([1,2,3], "Petr", 66)
ytup

In [ ]:
ytup[1] = 'Valdis'

In [ ]:
ytup[2] = 'Valdis'

In [ ]:
ytup[0] ='Valdis'

In [ ]:
ytup[0][1] = 'Valdis'
ytup

In [ ]:
ytup[0].append('something')
ytup

In [ ]:
_

In [ ]:
_

In [ ]:
a, b, c = mytuple
print(a, b, c)

In [1]:
55

55

In [2]:
# Last Value in Memory
_

55

In [ ]:
# More on Tuples
# https://www.datacamp.com/community/tutorials/python-tuples-tutorial