<center><h1>Python Pandas Tutorial</h1><center>

![Pandas](https://pandas.pydata.org/_static/pandas_logo.png)

## Pandas is Python Data Analysis Library

pandas is an open source, BSD-licensed(can use for commercial means) library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language

* Widely used
* Open Source
* Active Development
* Great Documentation

Home Page: http://pandas.pydata.org/

Using Documentation from: http://pandas.pydata.org/pandas-docs/stable/

Fantastic Cheat Sheet: http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

Best book by Panda's creator Wes Kinney (2nd Edition 2017): http://shop.oreilly.com/product/0636920050896.do

In [ ]:
import pandas as pd

In [ ]:
# Pandas is a big package took a while...

In [ ]:
import numpy as np # another big library with various numeric functions

In [ ]:
import matplotlib.pyplot as plt

# Panda's two fundamental data structures: Series and DataFrame.

### Series
A Series is a one-dimensional array-like object containing a sequence of values (
similar types to NumPy types) and an associated array of data labels - index.
Simplest Series is from an array of data.

In [ ]:
# Let's create some Series!

In [ ]:
s = pd.Series([1,4,3.5,3,np.nan,0,-5])
s

In [ ]:
s+4

In [ ]:
s2 = s * 4 
s2

In [ ]:
s2**2

In [ ]:
s3 = pd.Series(range(20))
s3

In [ ]:
s3.describe()

In [ ]:
s3.count()

In [ ]:
s3.mean()

In [ ]:
s.hist()

In [ ]:
s4 = s3**1.5
s4

In [ ]:
s4[3]

In [ ]:
s4[:10]

In [ ]:
s4.plot(kind="line", grid=True)

In [ ]:
### Often you want Series with an index identifying each data point with a label

In [ ]:
labeledSeries = pd.Series([24, 77, -35, 31, 66], index=['d', 'e', 'a', 'g', 'g'])
labeledSeries

In [ ]:
## A  bit similar to dictionary isn't it?

In [ ]:
labeledSeries['d']

In [ ]:
labeledSeries['g']

In [ ]:
labeledSeries[:2]

In [ ]:
labeledSeries[::-1]

In [ ]:
type(labeledSeries.values)

In [ ]:
labeledSeries.index

In [ ]:
type(labeledSeries.index)

In [ ]:
labeledSeries.values

In [ ]:
# Accessible multiple named index values
labeledSeries[['a','d']] # NOTE double list brackets!!

In [ ]:
labeledSeries > 30

In [ ]:
labeledSeries[labeledSeries > 30]

In [ ]:
# So Series is a fixed-length, ordered dictionary with extra helper methods

In [ ]:
'd' in labeledSeries

In [ ]:
77 in labeledSeries

In [ ]:
77 in labeledSeries.values

In [ ]:
mylist = list(s4)

In [ ]:
mylist

In [ ]:
lablist = list(labeledSeries)
lablist

In [ ]:
# Can create series from dictionary by simply passing to constructor pd.Series(mydict)

In [ ]:
citydict = {'Riga': 650000, 'Tukums':20000, 'Ogre': 25000, 'Carnikava': 3000}
citydict

In [ ]:
cseries = pd.Series(citydict)
cseries

In [ ]:
## Overwriting default index
clist = ['Jurmala', 'Riga', 'Tukums', 'Ogre', 'Daugavpils']
cseries2 = pd.Series(citydict, index = clist)
cseries2

In [ ]:
cseries2[cseries2.isnull()] = cseries.mean()
cseries2

In [ ]:
# notice Carnikava was lost, since our index did not have it!
# and order was preserved from the given index list!

In [ ]:
# For missing data
myfilter = cseries2.isnull()
myfilter

In [ ]:
# series.mean is a method/function not a value!
mymean = cseries2.mean()
mymean

In [ ]:

cseries2[myfilter] = cseries2.mean()
cseries2

In [ ]:
cseries3 = cseries + cseries2
cseries3

In [ ]:
# So NaN + number = NaN

In [ ]:
cseries.name = "Latvian Cities"
cseries.index.name = "City"
cseries

In [ ]:
cseries.index

In [ ]:
cseries.index = ['CarnikavaIsNotaCity','OgreEatsHumans', 'RigaIsOld', 'TukumsSmukums']
cseries

In [ ]:
# Series values are mutable
cseries['RigaIsOld']=625000
cseries

In [ ]:
# How to rename individual index elements?
cseries.index[2]='RigaIsOldButFantastic'
cseries

In [ ]:
# We use Renaming method to rename individual elements

In [ ]:
# limitation range only works with integers!!
series6 = pd.Series(range(1,10,2))
series6

In [ ]:
# np.arange is more flexible and allows use of floats
series5= pd.Series(np.arange(1,10.5,0.5))
series5

In [ ]:
# np.linspace you set start and end(including!) and how many values total you want
newseries = pd.Series(np.linspace(1,10,19))
newseries

In [ ]:
cseries.rename(index={'RigaIsOld':'RigaRocks','OgreEatsHumans':'OgreEatsTastyHumans'})

In [ ]:
cseries[-1]

In [ ]:
Integer Indexes
Working with pandas objects indexed by integers is something that often trips up
new users due to some differences with indexing semantics on built-in Python data
structures like lists and tuples. For example, you might not expect the following code
to generate an error:

In [ ]:
ser = pd.Series(np.arange(3.))
ser
ser[-1]

In [ ]:
In this case, pandas could “fall back” on integer indexing, but it’s difficult to do this in
general without introducing subtle bugs. Here we have an index containing 0, 1, 2,
but inferring what the user wants (label-based indexing or position-based) is difficult:

In [ ]:
In [144]: ser

In [ ]:
## With a non-integer index there is no potential for ambiguity:

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

In [ ]:
ser2[::-1]

In [ ]:
## To keep things consistent, if you have an axis index containing integers, data selection
##will always be label-oriented. For more precise handling, use loc (for labels) or iloc
## (for integers):
ser[:2]

In [ ]:
ser.loc[:1]

In [ ]:
len(ser)

In [ ]:
ser.iloc[:1]

* loc gets rows (or columns) with particular labels from the index.

* iloc gets rows (or columns) at particular positions in the index (so it only takes integers).

# Date Range creation

In [ ]:
dates = pd.date_range('20190528', periods=15)
dates

In [ ]:
from datetime import date
date.today().strftime("%Y%m%d%W")

In [ ]:
type(date.today())

In [ ]:
weeks = pd.date_range(date.today().strftime("%Y%m%d"), periods = 10, freq='W-TUE')
weeks

## DataFrame

A DataFrame represents a rectangular table of data and contains an ordered collec‐
tion of columns. 

Each can be a different value type (numeric, string,
boolean, etc.). 

The DataFrame has both a row and column index;

Think of it 
as a dict of Series all sharing the same index. 

Underneath data is stored as one or more two-dimensional blocks (similar to ndarray) rather than a list, dict, or some other collection of
one-dimensional arrays.

In [ ]:
# Many ways of Data Frame creation
# One Common way is common is
# from a dict of equal-length lists or NumPy arrays

In [ ]:
data = {'city': ['Riga', 'Riga', 'Riga', 'Jurmala', 'Jurmala', 'Jurmala'],
'year': [1990, 2000, 2018, 2001, 2002, 2003],
'popul': [0.9, 0.75, 0.62, 0.09, 0.08, 0.06]}
df = pd.DataFrame(data)
df

In [ ]:
data = {'city': ['Riga', 'Riga', 'Riga', 'Jurmala', 'Jurmala', 'Jurmala'],
'year': [1990, 2000, 2018, 2001, 2002, 2003],
'popul': [0.9, 0.75, 0.62, 0.09, np.NaN, 0.06]}
df = pd.DataFrame(data)
df

In [ ]:
listoflist = [list(range(n,n+10)) for n in range(5)]
listoflist

In [ ]:
dflist = pd.DataFrame(listoflist)
dflist

In [ ]:
dflist - 2

In [ ]:
data

In [ ]:
df2 = pd.DataFrame(data, columns=['year','city', 'popul','budget'])
df2

In [ ]:
df2["mayor"] = False
df2

In [ ]:
df2.loc[2:5,'mayor'] = "Nils"
df2

In [ ]:
df2['mayor'] = False
df2

In [ ]:
df2.loc[df2['city'] == "Riga", 'mayor'] = 'Nils'
df2

In [ ]:
# missing column simply given Nans

In [ ]:
df2['budget']=300000000
df2

In [ ]:
df2['budget']=[300000, 250000, 400000, 200000, 250000, 200000] # need to pass all values
df2

In [ ]:
# Many ways of changing individual values

## Recommended way of changing in place (same dataframe)

In [ ]:
df2.iat[3,2]=0.063
df2

In [ ]:
del df2['mayor']
df2

In [ ]:
# delete column by its name
del df2[3]
df2

In [ ]:
dates

In [ ]:
df = pd.DataFrame(np.random.randn(15,5), index=dates, columns=list('ABCDE'))
# We passed 15 rows of 5 random elements and set index to dates and columns to our basic list elements
df

In [ ]:
df.count()

In [ ]:
df.describe()

In [ ]:
df['A'].hist()

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
                      'B' : pd.Timestamp('20130102'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'foo' })
df2

In [ ]:
#most columns need matching length!

In [ ]:
s

In [ ]:
df3 = pd.DataFrame({ 'A' : 1.,
                   'B' : pd.Timestamp('20180523'),
                   'C' : s,
                   'D' : [x**2 for x in range(7)],
                   'E' : pd.Categorical(['test','train']*3+["train"]),
                   'F' : 'aha'
                   })
df3

In [ ]:
## different datatypes for columns!

In [ ]:
df3.dtypes

In [ ]:
df3[:5]

In [ ]:
df3.head()

In [ ]:
df3[-3:]

In [ ]:
df3.tail(3)

In [ ]:
df.index

In [ ]:
df3.index

In [ ]:
df3.values

In [ ]:
df3.describe()

In [ ]:
import seaborn as sb # graphics plotting library

In [ ]:
sb.pairplot(df)

In [ ]:
df

In [ ]:
df3

In [ ]:
sb.pairplot(df3.dropna(), hue='E')

In [ ]:
# Transpose

In [ ]:
df3.T

In [ ]:
df.sort_index(axis=1,ascending=True)

In [ ]:
## Sort by Axis in reverse

In [ ]:
df.sort_index(axis=1,ascending=False)

In [ ]:
df3.sort_values(by='C')

In [ ]:
# Notice NaN gets last

### Selection 

Note While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc and .iloc.

In [ ]:
df3['D']

In [ ]:
df3.D #same as above! Syntactic Sugar!

In [ ]:
df3[:5]

In [ ]:
df3[2:5]

In [ ]:
df3[2:5:2]

In [ ]:
df3[::-1]

## Selection by Label

For getting a cross section using a label:

In [ ]:
df

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[dates[2:5]]

In [ ]:
## Selecting on a multi-axis by label:

In [ ]:
df.loc[:, ['A','B','C']]

In [ ]:
df.loc[dates[2:5], ['A','B','C']]

In [ ]:
df.loc['20180525':'20180601',['B','C']]

In [ ]:
# Reduction in the dimensions of the returned object:

In [ ]:
df.loc['20180526', ["B", "D"]]

In [ ]:
## Getting scalars (single values)

In [ ]:
df.loc['20180526', ["D"]]

In [ ]:
# same as above

In [ ]:
df.at[dates[5],'D']

In [ ]:
## Selection by Position

In [ ]:
df.iloc[3]

In [ ]:
# By integer slices, acting similar to numpy/python:

In [ ]:
df.iloc[2:5,:2]

In [ ]:
# By lists of integer position locations, similar to the numpy/python style:

In [ ]:
df.iloc[[3,5,1],[1,4,2]]

In [ ]:
df.iloc[2,2]

In [ ]:
# For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[2,2]

## Boolean Indexing

In [ ]:
## Using a single column’s values to select data.

In [ ]:
df[df.A > 0.2]

In [ ]:
df[df > 0]

In [ ]:
df[df > 1]

In [ ]:
s1 = pd.Series([x**3 for x in range(15)], index=pd.date_range('20130521', periods=15))
s1

In [ ]:
df['F'] = s1
df

In [ ]:
## This is apparently a bug! https://github.com/pandas-dev/pandas/issues/10440

In [ ]:
df['F']=42
df

In [ ]:
df['G']=[x**3 for x in range(15)] # passing a fresh list to particular column
df

In [ ]:
s1

In [ ]:
s1+2

In [ ]:
s1/3

In [ ]:
df.at[dates[1], 'A'] = 33
df

In [ ]:
df.iat[4,4]= 42
df

In [ ]:
df3 = df.copy()

In [ ]:
df3[df3 > 0.2 ] = -df3
df3

In [ ]:
# Missing Data
# pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations

In [ ]:
df['H'] = s1
df

In [ ]:
df.fillna(value=3.14)

In [ ]:
# there is also df.dropna() to drop any ROWS! with missing data

## Operations

In [ ]:
df.mean()

In [ ]:
# Other axis

In [ ]:
df.mean(1)

In [ ]:
## Apply

In [ ]:
df.apply(lambda x: x*3) # ie same as df*3

In [ ]:
ts = pd.Series(np.random.randn(3650), index=pd.date_range('11/18/2008', periods=3650))

In [ ]:
ts = ts.cumsum() # cumulative sum

In [ ]:
ts.plot()

In [ ]:
# CSV
# Writing to a csv file.

In [ ]:
df.to_csv("testing.csv")

In [ ]:
# Reading from csv

In [ ]:
df5= pd.read_csv('resources/random4x9.csv')
df5

In [ ]:
df5

In [ ]:
# Excel

In [ ]:
df.to_excel('myx.xlsx', sheet_name='Sheet1')

In [ ]:
df6=pd.read_excel('myx.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

In [ ]:
df6

In [ ]:
df.info()

In [ ]:
df.info(memory_usage="deep") # more reliable info