# Test your SQLite DB

In [2]:
import pandas as pd
import sqlite3

In [3]:
db = sqlite3.connect('./db/chinook.db')

In [4]:
# prepare a cursor object using cursor() method
cursor = db.cursor()

In [9]:
# get a list of ALL tables in chinook db
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
result = cursor.fetchall()
print(result)
mytablelist = [ tup[0] for tup in result] # fetchall gave us a list of tuples with a single element so we only need that first el
print(mytablelist)

[('albums',), ('sqlite_sequence',), ('artists',), ('customers',), ('employees',), ('genres',), ('invoices',), ('invoice_items',), ('media_types',), ('playlists',), ('playlist_track',), ('tracks',), ('sqlite_stat1',)]
['albums', 'sqlite_sequence', 'artists', 'customers', 'employees', 'genres', 'invoices', 'invoice_items', 'media_types', 'playlists', 'playlist_track', 'tracks', 'sqlite_stat1']

In [11]:
# most popular type of query!
albums = pd.read_sql_query("SELECT * from albums", db)
albums.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [20]:
# we'll generate a dataframe of songs with albums from where they came from and genre and artist so 3 JOINS
songs = pd.read_sql_query('''SELECT t.name AS Song,
                                    g.name AS Genre, 
                                    t.composer,
                                    a.title AS Album,
                                    ar.name AS Artist
                            FROM tracks AS t
                            JOIN genres AS g
                                ON t.genreid = g.genreid
                            JOIN albums AS a
                                ON t.albumid = a.albumid
                            JOIN artists as ar
                                ON a.artistid = ar.artistid
                            ORDER BY t.name
                          ''',db)
songs.head()

,Song,Genre,Composer,Album,Artist
0,"""40""",Rock,U2,War,U2
1,"""?""",TV Shows,None,"Lost, Season 2",Lost
2,"""Eine Kleine Nachtmusik"" Serenade In G, K. 525...",Classical,Wolfgang Amadeus Mozart,Sir Neville Marriner: A Celebration,Academy of St. Martin in the Fields Chamber En...
3,#1 Zero,Alternative & Punk,"Cornell, Commerford, Morello, Wilk",Out Of Exile,Audioslave
4,#9 Dream,Pop,None,Instant Karma: The Amnesty International Campa...,U2

# Test your SQLite db
## SQLite Online
https://sqliteonline.com/